$color-white: #fff;
$color-black: #000;

$color-black-2: #272B33; // @black
$color-clearblack: rgba(40,49,66,0.8);
$color-shallowblack: rgba(39,43,51,.5);
$color-dark: #354052;
$color-cleardark: rgba(40,49,66,0.6);
$color-neutral-medium: #414e5f;  // @medium

$color-blue: #25b0e5;
$color-brightblue: #38c5fb;
$color-clearblue: rgba(37,176,229,0.7);
$color-green: #66ad44;
$color-brightgreen: #41d2b4;
$color-orange: #ff9900;
$color-red: #e43c3c;

$color-font: #333; // @fontcolor
$color-noticefont: #999; // @noticefont
$color-ltbgcolor: #ccc;
$color-ltbgcolor2: #f0f3f8;
$color-formfont: #a5a5a5;
$color-barline: #d3d8de;
$color-grey: #b1b2b5;
$color-sidebar-bg: #51657f;



$color-iconblue: #63cfdc;
$color-icongrey: #cddeed;

$color-rainbow1: #ffccd8;
$color-rainbow2: #ffaee0;
$color-rainbow3: #ffb9ff;
$color-rainbow4: #e5c9ff;
$color-rainbow5: #cad7ff;
$color-rainbow6: #99f0ff;
$color-rainbow7: #79fbf3;

// icons
$color-lineblue:#6decfb;
$color-linelight:#c5f7fd;
//new attr end

$color-aicFormBg:#343D49;//ai细胞学表单主题色
$color-thirdCellNum:#c1c2c3;
$color-secondCellNum:#e0d01d;
$color-labelFontColor:#a0a7af;//ai细胞学label文字色


// .el-badge__content.is-fixed{//全局badge 样式
//     top:29px;
//     left:4px !important;
//     width:42px;
//     height:26px;
//     border-radius: 15px;
//     box-sizing: border-box;
//     border:none;
//     line-height:26px;
//     font-size:14px;
// }

// .clearfix() {
//     &:after{
//         content: ".";
//         width: 0;
//         height: 0;
//         visibility: hidden;
//         display: block;
//         clear: both;
//         overflow:hidden;
//     }
// }

// .close-sdbar(@height){//公用关闭按钮
//     float: right;
//     width:36px;
//     height: @height;
//     cursor: pointer;
//     margin-left:5px;
//     display:block;
//     color:@ltbgcolor;
//     font-size:20px;
//     text-align:center;
//     line-height:@height;
//     &:hover,&:active{color:@blue;}
// }
